config NUBIA_SENSORS_FP_FPC1020
	tristate "nubia sensors fp fpc1020"
	depends on NUBIA_SENSORS_FP
	default n
	help
	  This is the main file for fingerprint driver for gf318m.
	  Say Y here if you have a gf318m fingerprint connected
	  to your system.
