#
# Goodix GT1X Touchscreen driver
#

menuconfig NUBIA_TOUCHSCREEN_GT1X
	bool "NUBIA_TOUCHSCREEN_GT1X"
	help
	  Say Y here, and a list of supported touchscreens will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if NUBIA_TOUCHSCREEN_GT1X

config NUBIA_GT1X_TOUCHSCREEN_DRIVER
	tristate "Goodix GT1X touchpanel driver"
	depends on NUBIA_TOUCHSCREEN_GT1X
	default n
	help
	  This is the main file for touchpanel driver for Goodix GT1X
	  touchscreens.

	  Say Y here if you have a Goodix GT1X touchscreen connected
	  to your system.

	  If unsure, say N.

choice
	prompt "nubia gt1x touchscreen sensor id"

config NUBIA_GT1X_TOUCHSCREEN_SENSOR_1
	bool "nubia gt1x touchscreen sensor 1 (TPK)"
	help
	  This option enables support gt1x touchscreen sensor 1 TP (TPK).

config NUBIA_GT1X_TOUCHSCREEN_SENSOR_2
	bool "nubia gt1x touchscreen sensor 2 (GW)"
	help
	  This option enables support gt1x touchscreen sensor 2 TP (GW).
endchoice

endif
